
@{
    ViewData["Title"] = "Contact info";
}

<header>
    <h1>Contact information</h1>
</header>

<article>
    <p>
        @foreach(Link link in ViewData["contactLinks"] as List<Link>)
        {
            <a class="socicon-@(link.Socicon)"></a> @(link.Title) <a href="@(link.Url)">@(link.Username)</a>
            @if((ViewData["contactLinks"] as List<Link>).LastOrDefault() != link)
            {
                <br />
            }
        }
    </p>
    <p>
        @foreach (Link link in ViewData["otherLinks"] as List<Link>)
        {
            <a class="socicon-@(link.Socicon)"></a> @(link.Title) <a href="@(link.Url)">@(link.Username)</a>
            @if ((ViewData["otherLinks"] as List<Link>).LastOrDefault() != link)
            {
                <br />
            }
        }
    </p>
</article>

