@model MyWebsite.Models.LinkModel
@{
	ViewData["Title"] = "Delete link";
}

<header>
	&#xE760; <a asp-action="Index">Back to the list</a>
	<h1>Delete link</h1>
	<h3>Are you sure you want to delete this?</h3>
</header>

<article>
	<p>
		<b>@Html.DisplayNameFor(model => model.Name):</b> @Model.Name<br />
		<b>@Html.DisplayNameFor(model => model.Order):</b> @Model.Order<br />
		<b>@Html.DisplayNameFor(model => model.EnglishTitle):</b> @Model.EnglishTitle<br />
		<b>@Html.DisplayNameFor(model => model.RussianTitle):</b> @Model.RussianTitle<br />
		<b>@Html.DisplayNameFor(model => model.Username):</b> @Model.Username<br />
		<b>@Html.DisplayNameFor(model => model.Url):</b> <a href="@Model.Url" target="_blank">@Model.Url</a><br />
		<b>@Html.DisplayNameFor(model => model.CanContactMe):</b> @Html.DisplayFor(model => model.CanContactMe)<br />
		<b>@Html.DisplayNameFor(model => model.DisplayInFooter):</b> @Html.DisplayFor(model => model.DisplayInFooter)
	</p>

	<form asp-action="Delete">
		<input hidden asp-for="Name" />
		<input type="submit" value="Delete" required />
	</form>
</article>