@model IEnumerable<MyWebsite.Models.Link>

@{
    ViewData["Title"] = "Links list";
}

<header>
    <p>&#xE760; <a asp-action="Index" asp-controller="Admin" asp-area="">Back to main menu</a></p>
    <h1>Links list</h1>
    <p>
        <a asp-action="Create" class="comment">// + Create New</a>
    </p>
</header>

<article>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Order)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CanContactMe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayInFooter)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(i => i.Order))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CanContactMe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayInFooter)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Name }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Name })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</article>

<link type="text/css" rel="stylesheet" href="~/css/Admin.css" />