@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"] - Admin panel - XFox111.NET</title>
	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" type="text/css" href="~/css/Style.css" />
	<link rel="stylesheet" type="text/css" href="~/css/Fonts.css" />
	<link rel="stylesheet" type="text/css" href="~/css/Socicon.css" />
	<link href="~/css/Admin.css" type="text/css" rel="stylesheet" />

	<script type="text/javascript">
		function ToggleMenu()
		{
			var menu = document.querySelector("nav menu");

			if (menu.style.display == "none")
				menu.style.display = "initial";
			else
				menu.style.display = "none";
		}
	</script>

	@RenderSection("Imports", false)

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<nav>
		<a asp-controller="Home" asp-action="Index" asp-area="">XFox111.NET</a>

		<menu type="toolbar" style="display:none">
			<partial name="~/Views/Shared/TopBarMenu.cshtml" />
		</menu>

		<div>
			<a asp-area="" asp-controller="Home" asp-action="SwitchLanguage" lang="@SharedLocalizer["ru"]">@SharedLocalizer["РУС"] &#xE12B;</a>
			<a id="menu-toggle" onclick="ToggleMenu();">&#xE700;</a>
		</div>
	</nav>

	<main onclick="document.querySelector('nav menu').style.display = 'none'">
		@RenderBody()
	</main>

	<footer>
		<span class="comment">// Copyright &copy;@(DateTime.Today.Year) Michael "XFox" Gordeev</span>
	</footer>
</body>
</html>