@model ArtworkViewModel
@{
	ViewData["Title"] = SharedLocalizer["My artworks"];
}

<header>
	<h1>@SharedLocalizer["My artworks"]</h1>
	<p>
		<b>@(Localizer["Important notice"]):</b><br />
		@Localizer["These artworks are made by me for me. I'm not a professional artist or even beginner and I never planned to become any of them."]<br />
		@Localizer["So if you don't like this stuff, you can leave your feedback at ask@who-cares.com and I will gladly review your suggestions"]
	</p>
</header>

<article class="gallery">
	@if (Model.Images.Count > 0)
		foreach (ImageModel image in Model.Images)
		{
			<a asp-action="Details" asp-route-id="@image.FileName"><img title="@image.Title" src="~/images/Gallery/@(image.FileName.EndsWith(".svg", StringComparison.OrdinalIgnoreCase) ? image.FileName : $"Cache/{image.FileName}.jpg")" onerror="this.src = '/images/Gallery/@image.FileName'" /></a>
		}
	else
	{
		<p class="comment">// @SharedLocalizer["No content available"]</p>
	}
</article>

@section Imports
{
	<link rel="stylesheet" type="text/css" href="~/css/Gallery.css" />
}