@model IEnumerable<MyWebsite.Models.Badge>
@{
    ViewData["Title"] = "Badges list";
}

<header>
    <p>&#xE760; <a asp-action="Index" asp-controller="Admin" asp-area="">Back to main menu</a></p>
    <h1>Project badges list</h1>
    <p>
        <a asp-action="Create" class="comment">// + Create New</a>
    </p>
</header>

<article>
    <table class="table">
        <thead>
            <tr>
                <th>Preview</th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnglishDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RussianDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="badge" style="background-image: url(/images/Badges/@(item.Image).png)" title="@(item.Description)"></div>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.EnglishDescription</td>
                    <td>@item.RussianDescription</td>
                    <td>@item.Image</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</article>

<link type="text/css" rel="stylesheet" href="~/css/Admin.css" />
<style type="text/css">
    .badge {
        height: 25px;
        width: 25px;
        background-size: contain;
    }
</style>