@model ViewModelBase
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
	<title>@ViewData["Title"] - XFox111.NET</title>
	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" type="text/css" href="~/css/Style.css" />
	<link rel="stylesheet" type="text/css" href="~/css/Fonts.css" />
	<link rel="stylesheet" type="text/css" href="~/css/Socicon.css" />

	@if (Context.Request.Cookies.ContainsKey("useComicSans"))
	{
		<style type="text/css">
			body
			{
				font-family: "Comic Sans MS", "Consolas", "Segoe MDL2 Assets";
			}
		</style>
	}

	<script type="text/javascript">
		function ToggleMenu()
		{
			var menu = document.querySelector("nav menu");

			if (menu.style.display == "none")
				menu.style.display = "initial";
			else
				menu.style.display = "none";
		}
	</script>

	@RenderSection("Imports", false)

	@{
		if (IsSectionDefined("OpenGraph"))
			RenderSection("OpenGraph");
		else
		{
			<meta name="author" content="@SharedLocalizer["Michael &apos;XFox&apos; Gordeev"]" />
			<meta name="description" content="@SharedLocalizer["Hi, my name is Michael. I'm C# Developer and this is my personal website. Here you can find info about me, my projects and more. Check it out!"]" />

			<meta property="og:type" content="website" />
			<meta property="og:site_name" content="XFox111.NET" />
			<meta property="og:url" content="@Context.Request.Scheme://@Context.Request.Host@(Context.Request.Path)@Context.Request.QueryString" />
			<meta property="og:locale" content="@SharedLocalizer["en"]" />
			<meta property="og:image" content="https://xfox111.net/images/me.jpg" />
			<meta property="og:description" content="@SharedLocalizer["Hi, my name is Michael. I'm C# Developer and this is my personal website. Here you can find info about me, my projects and more. Check it out!"]" />
			<meta property="og:title" content="@SharedLocalizer["Michael &apos;XFox&apos; Gordeev"] - @SharedLocalizer["Personal website"]" />
		}
	}

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<nav>
		<a asp-controller="Home" asp-action="Index" asp-area="">XFox111.NET</a>

		<menu type="toolbar" style="display:none">
			<partial name="~/Views/Shared/TopBarMenu.cshtml" />
		</menu>

		<div>
			<a asp-area="" asp-controller="Home" asp-action="SwitchLanguage" lang="@SharedLocalizer["ru"]">@SharedLocalizer["РУС"] &#xE12B;</a>
			<a id="menu-toggle" onclick="ToggleMenu();">&#xE700;</a>
		</div>
	</nav>

	<main onclick="document.querySelector('nav menu').style.display = 'none'">
		@RenderBody()
	</main>

	@{
		if (IsSectionDefined("Footer"))
			RenderSection("Footer");
		else
		{
			<footer>
				<span class="comment">// @SharedLocalizer["Copyright"] &copy;@(DateTime.Today.Year) @SharedLocalizer["Michael \"XFox\" Gordeev"]</span>

				<div>
					@foreach (LinkModel link in Model.Links.Where(i => i.DisplayInFooter).OrderBy(i => i.Order))
					{
						<a class="socicon-@(link.Name)" href="@(link.Url)" target="_blank" rel="noopener noreferrer" title="@(link.Title)"></a>
					}
				</div>
			</footer>
		}
	}
</body>
</html>