@model ViewModelBase
@{
	ViewData["Title"] = SharedLocalizer["Contact information"];
}

<header>
	<h1>@SharedLocalizer["Contact information"]</h1>
</header>

<article>
	<p>
		@foreach (LinkModel link in Model.Links.Where(i => i.CanContactMe))
		{
			<a class="socicon-@(link.Name)"></a> @(link.Title) <a href="@(link.Url)" target="_blank">@(link.Username)</a><br />
		}
	</p>
	<p>
		@foreach (LinkModel link in Model.Links.Where(i => !i.CanContactMe))
		{
			<a class="socicon-@(link.Name)"></a> @(link.Title) <a href="@(link.Url)" target="_blank">@(link.Username)</a><br />
		}
	</p>
</article>