@model IEnumerable<Project>
@{
    ViewData["Title"] = "My projects";
    List<Badge> badges = Startup.Database.Badges.ToList();
}

<header>
    <div>
        <h1>My projects</h1>
        <h3>Here is presented the most of projects I worked on</h3>
    </div>
    <iframe src="//githubbadge.appspot.com/xfox111" class="github-stats" frameborder="0"></iframe>
</header>

<article>
    @foreach (Project project in Model)
    {
        <div class="project-item">
            <div>
                <h1>@project.Title</h1>
                <p class="description">
                    @Html.Raw(project.Description)
                </p>
                <a href="@(project.Link)" target="_blank">@project.LinkCaption</a>
            </div>
            <div class="badge-placeholder">
                @foreach (string badge in project.Badges.Split(','))
                {
                    <div style="background-image: url(../images/Badges/@(badges.FirstOrDefault(i => i.Name == badge)?.Image).png)" title="@(badges.FirstOrDefault(i => i.Name == badge)?.Description)"></div>
                }
            </div>
        </div>
    }
</article>

<link rel="stylesheet" type="text/css" href="~/css/Projects.css" />