<li><a asp-area="" asp-controller="Home" asp-action="Index">@(SharedLocalizer["AboutMe"])();</a></li>
<li hidden><a href="//xfox111.blogspot.com/" target="_blank">@(SharedLocalizer["MyBlog"])();</a></li>
<li><a asp-area="" asp-controller="Resume" asp-action="Index">@(SharedLocalizer["MyResume"])();</a></li>
<li><a asp-area="" asp-controller="Projects" asp-action="Index">@(SharedLocalizer["Projects"])();</a></li>
<li><a asp-area="" asp-controller="Gallery" asp-action="Index">@(SharedLocalizer["Arts"])();</a></li>
<li><a asp-area="" asp-controller="Contacts" asp-action="Index">@(SharedLocalizer["Contacts"])();</a></li>