<li><a asp-area="" asp-controller="Home" asp-action="Index">@(SharedLocalizer["AboutMe"])();</a></li>
<li><a asp-area="" asp-controller="Blog" asp-action="Index">@(SharedLocalizer["Blog"])();</a></li>
<li><a asp-area="" asp-controller="Resume" asp-action="Index">@(SharedLocalizer["MyResume"])();</a></li>
<li><a asp-area="" asp-controller="Projects" asp-action="Index">@(SharedLocalizer["Projects"])();</a></li>
<li><a asp-area="" asp-controller="Gallery" asp-action="Index">@(SharedLocalizer["Arts"])();</a></li>
<li><a asp-area="" asp-controller="Contacts" asp-action="Index">@(SharedLocalizer["Contacts"])();</a></li>