@model ResumeViewModel
@{
	ViewData["Title"] = Localizer["My resume"];
}

<header>
	<h1>@Localizer["My resume"]</h1>
	<p>@Localizer["Last update"]: @Model.Resume.LastUpdate</p>

	<a class="comment" asp-action="Download">// @Localizer["Download CV"] (.pdf) &#xE118;</a><br />
	<a class="comment" asp-action="Print">// @Localizer["Print CV"] &#xE749;</a>
</header>

<article>
	@Html.Raw(Model.Resume.Content)
</article>

@section Footer
{
	<partial name="~/Views/Shared/ContactsBlock.cshtml" />
}