@model MyWebsite.Models.ProjectModel
@{
    ViewData["Title"] = "Delete project";
}

<header>
    <p>&#xE760; <a asp-action="Index">Back to the list</a></p>
    <h1>Delete project entry</h1>
    <h3>Are you sure you want to delete this?</h3>
</header>

<article>
    <p class="form-group">
        <b>@Html.DisplayNameFor(model => model.Id):</b> @Model.Id<br />
        <b>@Html.DisplayNameFor(model => model.EnglishTitle):</b> @Model.EnglishTitle<br />
        <b>@Html.DisplayNameFor(model => model.RussianTitle):</b> @Model.RussianTitle<br />
        <b>@Html.DisplayNameFor(model => model.EnglishDescription):</b> @Model.EnglishDescription<br />
        <b>@Html.DisplayNameFor(model => model.RussianDescription):</b> @Model.RussianDescription<br />
        <b>@Html.DisplayNameFor(model => model.Link):</b> @Model.Link<br />
        <b>@Html.DisplayNameFor(model => model.EnglishLinkCaption):</b> @Model.EnglishLinkCaption<br />
        <b>@Html.DisplayNameFor(model => model.RussianLinkCaption):</b> @Model.RussianLinkCaption<br />
        <b>@Html.DisplayNameFor(model => model.Badges):</b> @Model.Badges<br />
    </p>

    <form asp-action="Delete">
        <input hidden asp-for="Id" />
        <input type="submit" value="Delete" class="btn-danger" />
    </form>
</article>

<link type="text/css" rel="stylesheet" href="~/css/Admin.css" />