@model (IEnumerable<MyWebsite.Models.ProjectModel> projects, IEnumerable<MyWebsite.Models.BadgeModel> badges)
@{
	ViewData["Title"] = "Projects";
}

<header>
	&#xE760; <a asp-action="Index" asp-controller="Admin" asp-area="">Back to main menu</a>
	<h1>Projects list</h1>
	<a asp-action="Create" class="comment">// + Add new project</a>
</header>

<article>
	<div asp-validation-summary="All" class="text-danger"></div>
	<table>
		<thead>
			<tr>
				<th>&#xE700;</th>
				<th class="hide-l1">
					@Html.DisplayNameFor(model => model.projects.First().Id)
				</th>
				<th class="hide-l1">
					@Html.DisplayNameFor(model => model.projects.First().Logo)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.projects.First().Title)
				</th>
				<th class="hide-l1">
					@Html.DisplayNameFor(model => model.projects.First().LinkCaption)
				</th>
				<th class="hide-l2">
					@Html.DisplayNameFor(model => model.projects.First().Link)
				</th>
				<th class="hide-l2">
					@Html.DisplayNameFor(model => model.projects.First().Badges)
					(<a asp-controller="Badges" asp-action="Index">Edit badges</a>)
				</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.projects.OrderBy(i => i.Order))
			{
				<tr id="@item.Id">
					<td class="reorderingBtns">
						<a onclick="Up(this)">&#xE010;</a><br />
						<span>&#xE915;</span><br />
						<a onclick="Down(this)">&#xE011;</a>
					</td>
					<td class="hide-l1">@item.Id</td>
					<td class="hide-l1">
						@if (Uri.IsWellFormedUriString(item.Logo, UriKind.RelativeOrAbsolute))
						{
							<img src="@item.Logo"/>
						}
					</td>
					<td>
						@item.EnglishTitle (en)<br />
						@(item.RussianTitle ?? "<not_set>") (ru)
					</td>
					<td class="hide-l1">
						@(item.EnglishLinkCaption ?? "<not_set>") (en)<br />
						@(item.RussianLinkCaption ?? "<not_set>") (ru)
					</td>
					<td class="hide-l2"><a target="_blank" rel="noopener noreferrer" href="@item.Link">@item.Link</a></td>
					<td class="hide-l2">
						<div class="badge-placeholder">
							@foreach (string b in (item.Badges ?? "").Split(','))
							{
								BadgeModel badge = Model.badges.FirstOrDefault(i => i.Name == b);
								<div style="background-image: url('../images/Badges/@(badge?.Image).png')" title="@(badge?.Description)"></div>
							}
						</div>
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<button onclick="ApplyReorder()" disabled>Apply reordering</button>
</article>

@section Imports
{
	<style type="text/css">
		.badge-placeholder
		{
			display: grid;
			grid-column-gap: 10px;
			grid-auto-columns: max-content;
			grid-auto-flow: column;
		}

			.badge-placeholder div
			{
				height: 25px;
				width: 25px;
				display: inline-block;
				background-size: contain;
			}

		.reorderingBtns
		{
			user-select: none;
		}

			.reorderingBtns a:hover
			{
				cursor: pointer;
				color: gray;
				text-decoration: underline;
			}

		img
		{
			width: 25px;
			height: 25px;
		}
	</style>

	<script type="text/javascript" src="~/js/ReorderScript.js"></script>
}